* {
  transition: ease-in-out 0.2s;
}

body {
  text-align: center;
  background-color: blueviolet;
  color: white;
  height: 100vh;
}
p {
  font-size: 3em;
}

.color-pink:hover {
  background-color: rgba(255, 192, 203, 0.477);
}
.color-blue:hover {
  background-color: rgba(8, 8, 194, 0.477);
}
.color-red:hover {
  background-color: rgba(255, 0, 0, 0.477);
}
button {
  background-color: transparent;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: solid 3px white;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
